.courses-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.courses-intro {
  color: #FFFFFF;
  background: $gradient;
  border-radius: 0.625rem;
  font-size: map-get($font-size, s);
  font-weight: map-get($weight, ebold);
  padding: 1.5rem 1.8125rem 2rem 1.75rem;
  line-height: 1.3334;
  margin-bottom: 40px;
}

.container {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 0px 28px 32px 28px;
  img {
    width: 3.5rem;
    position: relative;
    top: -24px;
  }
  h2 {
    color: map-get($colors, primary);
    font-size: map-get($font-size, s2);
    font-weight: map-get($weight , ebold);
    margin-bottom: 1rem;
  }
  p {
    font-size: map-get($font-size, xxs);
    color: map-get($colors, secondary);
    font-weight: map-get($weight, medium);
    line-height: 1.625;
    margin-bottom: 1.5rem;
  }
  a {
    font-size: map-get($font-size, xs);
    font-weight: map-get($weight, bold);
    color: map-get($colors, tertiary);
    margin-bottom: 32px;
  }
}