@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

$font-size: (
  xl: 56px,
  l: 40px,
  m: 32px,
  s: 24px,
  s2: 20px,
  xs: 18px,
  xxs: 16px,
);

$weight: (
  ebold: 800,
  bold: 700,
  medium: 500,
);